@{
    Layout = "~/Views/Shared/_masterLayout.cshtml";
    ViewBag.Title = "Dashboard";
    ViewBag.Description = "it all starts here";
}
<div id="dashboard"></div>
<script type="text/jsx">
    React.render(<div>
                    <Box title="one" />
                    <Box title="two" />
                    <Box title="three" />
                 </div>, document.getElementById('dashboard'));
</script>
